{{ define "main" }}
  <!-- <div class="breadcrumb">
    <a href="/">Home</a> > <a href="/authors">Authors</a> > {{ .Title }}
  </div> -->

  <div class="author-profile">
    <div class="author-image">
      <img src="{{ .Params.avatar }}" alt="{{ .Title }}">
    </div>
    <div class="author-details">
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.bio }}</p>
      <div class="author-socials">
        {{ with .Params.social.github }}
          <a href="{{ . }}" title="GitHub">
            <i class="fab fa-github"></i> GitHub
          </a>
        {{ end }}

        {{ with .Params.social.twitter }}
          <a href="{{ . }}" title="Twitter">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        {{ end }}

        {{ with .Params.social.instagram }}
          <a href="{{ . }}" title="Instagram">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="content">
    {{ .Content }}
  </div>
{{ end }}
